.section{
 	background-color: gray;
 	float: left;
 	height: 100px;
 	width: 300px;
 	margin: 50px;
 }

.aisle{
	height: 200px;
	width: 1000px;
}

#produce{
}

#meat{
}
  
#dairy{
}
  
#frozen{
}

#non-perishable-goods{
}

#frozen{
}
