.section{
 	background-color: gray;
 	float: left;
 	height: 100px;
 	width: 200px;
 	margin: 50px;
 	font-family: "Comic Sans MS"
 }

.aisle{
	height: 200px;
	width: 900px;
}

#produce{
}

#meat{
}
  
#dairy{
}
  
#frozen{
}

#non-perishable-goods{
}

#frozen{
}

.buttons{
	height: 50px;
	width: 50px;
}

#button1{
	height:50px;
	width:50px;
	margin-left: 400px;
}

#button2{
	height:50px;
	width:50px;
}

#button3{
	height:50px;
	width:50px;
}

#button4{
	height:50px;
	width:50px;
}

#button5{
	height:50px;
	width:50px;
}

#button6{
	height:50px;
	width:50px;
}

