body{
	background-color: white;
}

.section{
 	background-color: gray;
 	float: left;
 	height: 100px;
 	width: 200px;
 	margin: 50px;
 	font-family: "Comic Sans MS";
 }


h1{
	font-family: "Comic Sans MS"
}

#row1{
	height: 200px;
	width: 900px;
}

#row2{
	height: 200px;
	width: 900px;
	margin-top: -230px;
}

#produce{	
}

#meat{
}
  
#dairy{
}
  
#frozen{
}

#non-perishable-goods{
}

#frozen{
}

.buttons{
	height: 45px;
	width: 45px;
	margin: 15px;
}

#button1{
	height:45px;
	width:45px;
	margin-left: 75px;
	margin-bottom: -135px;
}

#button2{
	height:45px;
	width:45px;
	margin-left: 235px;
	margin-bottom: -135px;
}

#button3{
	height:45px;
	width:45px;
	margin-left: 235px;
	margin-bottom: -135px;
}
#button4{
	height:45px;
	width:45px;
	margin-left: -665px;
	margin-bottom: -325px;
}

#button5{
	height:45px;
	width:45px;
	margin-bottom: -325px;
	margin-left: 235px;
}

#button6{
	height:45px;
	width:45px;
	margin-bottom: -325px;
	margin-left: 235px;
}

#circle{
	height: 25px;
	width: 25px;
	border-radius: 100%;
	background-color: orange;
	z-index: 100;
}

.container, .overlay{
	height: 850px;
	width: 1100px;
	position: absolute;
}

.overlay{
	z-index: 100;
}

.container{
	background-color: white;
}

.line{
	height: 10px;
	width: 400px;
	background-color: #ff0b0b;
	position: absolute;
	top: 179px;
	left: 40px;
}

#blankspace{
	height: 300px;
	width: 1px; 
}

#cp1{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top:-210px;
}

#cp2{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
}

#cp3{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
}

#cp4{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: -415px;
	margin-left: 280px;
}

#cp5{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
	margin-left: 280px;
}

#cp6{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
	margin-left: 280px;
}

#cp7{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: -415px;
	margin-left: 585px;
}

#cp8{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
	margin-left: 585px;
}

#cp9{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
	margin-left: 585px;
}

#cp10{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: -415px;
	margin-left: 870px;
}

#cp11{
	height: 35px;
	width: 35px;
	background-color: black;
	margin-top: 10px;
	margin-left: 870px;
}

#cp12{
	height: 35px;
	width: 35px;
	background-color: black;
	margin: 10px;
	margin-left: 870px;
}

#aisle1{
	height: 135px;
	width: 35px;
	background-color: gray;
	margin-top: 10px;
}

#aisle2{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
}

#aisle3{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 280px;
}

#aisle4{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 280px;
}

#aisle5{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 585px;
}

#aisle6{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 585px;
}

#aisle7{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 870px;
}

#aisle8{
	height:135px;
	width:35px;
	background-color: gray;
	margin-top: 10px;
	margin-left: 870px;
}

#rectangle1{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}

#rectangle2{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}

#rectangle3{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}

#rectangle4{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}

#rectangle5{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}

#rectangle4{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}

#rectangle6{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}


#rectangle7{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}


#rectangle8{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}


#rectangle9{
	height: 35px;
	width: 135px;
	background-color: gray
	margin: 10px;
}














